*.class


*/.idea/
*/.mvn/
*/target/

2-migration-and-integration-tests/src/main/resources/db/migration/hello-world.sql
2-migration-and-integration-tests/src/main/resources/db/1-insert-issuing-division.sql
