*.class

*/.idea/
*/.mvn/

*/target/classes/
*/target/generated-sources/
*/target/generated-test-sources/
*/target/maven-archiver/
*/target/maven-status/
*/target/test-classes/

00-web-quiz-engine/node_modules/
00-web-quiz-engine/yarn-error.log
00-web-quiz-engine/docker/autotests-0.0.1.jar
00-web-quiz-engine/cypress/screenshots/
00-web-quiz-engine/cypress/videos/

04-bdd-testing/docker/autotests-0.0.1.jar
