*.class

*/.idea/
*/.mvn/

*/target/classes/
*/target/generated-sources/
*/target/generated-test-sources/
*/target/maven-archiver/
*/target/maven-status/
*/target/test-classes/

2-integration-testing/src/main/resources/db/migration/V2__Add_issuing_division.sql
